@import "reset";
@import "variables/global";
@import "themes/normal";
@import "themes/dark";

.app {
    font: var(--font-m);
<<<<<<< HEAD
    background: var(--bg-color);
    color: var(--primary-color);
    min-height: 100vh;
}

.content-page {
    display: flex;
}

.page-wrapper {
    flex-grow: 1;
    padding: 20px;
}
=======

    background: var(--bg-color);
    color: var(--primary-color);

    min-height: 100vh;
}
>>>>>>> 3abcf844f842916b4b4c8f6f8bce01e2604c0a4c
