* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input,
button,
textarea,
select {
    margin: 0;
<<<<<<< HEAD
=======

>>>>>>> 3abcf844f842916b4b4c8f6f8bce01e2604c0a4c
    font: inherit;
}
