:root {
    --bg-color: #e8e8ea;
<<<<<<< HEAD
    --inverted-bg-color: #090949;
    --primary-color: #0232c2;
    --secondary-color: #0449e0;
    --inverted-primary-color: #049604;
    --inverted-secondary-color: #04ff04;
=======

    --primary-color: #0232c2;
    --secondary-color: #0449e0;
>>>>>>> 3abcf844f842916b4b4c8f6f8bce01e2604c0a4c
}
